.title  {  

        margin-bottom: 20px;  
         padding:20px ;
         
    }  

.img {  
        height: 80%;
        width:100%  

}  

.row title{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(180, 115, 147) !important;
}
#title{
    font-family: 'Poppins', sans-serif !important;
     background-color: rgb(180, 115, 147) !important;
color: white !important;
font-size: 30px;
    }
