@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding:0;
  box-sizing: border-box;
}
#body{
  min-height: 30vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
 font-family: 'Poppins', sans-serif;
  
}